@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Blood Pressure Tracker</h1>
    <p>Go to <a asp-controller="BP" asp-action="Index">BP Measurements</a>.</p>
</div>
