@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Thank you</h2>

<div>
    <p>Thank you for confirming your enrolment in the '@Model.Course.Name' course!</p>
    <p>We look forward to seeing you in room @Model.Course.RoomNumber starting on @Model.Course.StartDate with @Model.Course.Instructor</p>
