@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-3">Invoicing</h1>
    <p class="lead">A simple invoicing application for small businesses.
        <br />Create and manage invoices for your customers.
    </p>
    <div>
        <a class="btn btn-success" asp-controller="Customer" asp-action="Index">Explore</a>
    </div>
</div>
