@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Page</h1>
    <p>Manage <a asp-controller="Course" asp-action="Index">my courses</a>  or <a asp-controller="Course" asp-action="Create">add a new course</a></p>
</div>
