@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<String>

<div>
    <ul class="pagination">
        @foreach (var group in Model)
        {
            if (group == "A - E")
            {
                <li class="page-item active">
                    <a class="page-link" href="?group=@group">@group</a>
                </li>
                continue;
            }
            <li class="page-item">
                <a class="page-link" href="?group=@group">@group</a>
            </li>
        }
    </ul>
</div>